*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2A0001;
}
.header{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.pics{
    text-align: center;
    align-items: center;
    width: 70%;
    height: 10vh;
    background-size: relative;
    background-position: no-repeat;
}
.pics1{
    text-align: center;
    align-items: center;
    width: 50%;
    background-size: relative;
    background-position: no-repeat;
}
.pics2{
    text-align: center;
    align-items: center;
    width: 40%;
    background-size: relative;
    background-position: no-repeat;
}
.text li{
    padding: 20px;
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}